<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.natrollus.kisisel" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikon"
        android:label="@string/app_name">
        <activity android:name=".temp.Bilgilendirme" android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<activity android:name=".aktivite.Not"/>
		<receiver android:name=".Kisisel">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
				<action android:name="kisisel.action.DUGME"/>
				<action android:name="kisisel.action.TEST"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/ayar"/>
		</receiver>
        <service android:name=".gorunum.UzakGorunum" android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>
